<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hesburgh Libraries // University of Notre Dame</title>
    <meta name="description" content="Information resources and collections of the Hesburgh Libraries, University of Notre Dame." />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />

    <%= stylesheet_link_tag    "hesburgh_assets/catalog/1.0/index.css", :media => "all" %>
    <!--[if lte IE 9]>
      <%= stylesheet_link_tag    "hesburgh_assets/main/1.0/ie.css", :media => "all" %>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "hesburgh_assets/catalog/1.0/index.js" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body <%= body_class %>>
    <div class="container">
      <div class="row header">
        <div class="twelve columns">
          <%= preheader_content %>
        </div>
      </div>
      <div class="row menu">
        <div class="twelve columns">
        </div>
      </div>
      <div class="row search-row">
        <div class="twelve columns">
          <div class="search-box">
            <%= content_for(:search_box) %>
          </div>
        </div>
      </div>
      <div class="row content">
        <div class="container">
          <% if content_for?(:left_column) %>
            <div class="three columns">
              <%= content_for(:left_column) %>
            </div>
          <% end %>
          <%
          content_width = 12
          if content_for?(:left_column)
            content_width -= 3
          end
          if content_for?(:right_column)
            content_width -= 4
          end
          if content_for?(:right_column_wide)
            content_width -= 5
          end
          %>
          <div class="<%= number_to_word(content_width) %> columns">
            <div id="pg-title">
              <% if content_for?(:content_title_links) %>
                <div class="pull-right">
                  <%= content_for(:content_title_links) %>
                </div>
              <% end %>
              <%= content_for(:content_title) %>
            </div>
            <%= display_notices %>
            <%= yield %>
          </div>
          <% if content_for?(:right_column) %>
            <div class="four columns">
              <%= content_for(:right_column) %>
            </div>
          <% end %>
          <% if content_for?(:right_column_wide) %>
            <div class="five columns">
              <%= content_for(:right_column_wide) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
